aside.logo{
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

aside.logo img{
    padding: 0px 1px;
    height: 140px;
    width: 800px;
}
